.album {
	margin: 15px;
	min-width: 290px;
	width: 275px;
	height: 350px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	position: relative;
	background: #fff;
	text-align: center;
}

.album div {
	position: relative;
	width: 100%;
	height: 50%;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.album h2 {
	text-transform: uppercase;
	font-family: Raleway;
	margin: 10px 0;
}
.album h4 span {
	color: #4c4f8a;
	cursor: pointer;
	font-size: 18px;
}
.album .rate {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.album small:last-child {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.album button {
	font-style: italic;
	margin: 12px;
}
button:hover {
	text-shadow: 0px 0px 8px rgb(255, 255, 255);
	font-style: normal;
}
